
[Unit]
Description=NERSC SDN API Server
After=munge.service

[Service]
Type=simple
User=sdnapi
Group=sdnapi
PrivateTmp=true
PermissionsStartOnly=true
ExecStart=/usr/bin/gunicorn \
    -c /etc/default/sdnapi.conf \
    nersc_sdn.sdnapi:application

Restart=on-failure

[Install]
WantedBy=multi-user.target
